
<div>
	 <h1>
	 	<span class="glyphicon glyphicon-chevron-right"></span>
		{{vm.restaurant.name}} <span ng-if="vm.ratings.length>0" class="">[{{vm.calcRating}}]</span>	<sup class="open">
		<span ng-if="vm.restaurant.opened==true" class="label label-success">OPENED</span>
		<span ng-if="vm.restaurant.opened==false" class="label label-danger">CLOSED</span>
	</sup>
	</h1>


    <div class="info">
    	<label data-translate="gastronomeeApp.restaurant.open">Open</label>: <span class="label label-success">{{vm.restaurant.open}}</span> - <label data-translate="gastronomeeApp.restaurant.close">Close</label>: <span class="label label-danger">{{vm.restaurant.close}}</span>    
    	<label data-translate="gastronomeeApp.restaurant.dayOfWeekClosed">Day Of Week Closed</label>: <span data-translate="{{'gastronomeeApp.DayOfWeek.' + vm.restaurant.dayOfWeekClosed}}">{{vm.restaurant.dayOfWeekClosed}}</span>  
    	<label data-translate="gastronomeeApp.restaurant.tables">Tables</label>: {{vm.restaurant.tables}}  <label data-translate="gastronomeeApp.restaurant.chairs">Chairs</label>: {{vm.restaurant.chairs}}
    </div>
    
    <br />
    
    <div class="row">
	    <div class="col-md-8">
	        <h2>
			    <span class="glyphicon glyphicon-asterisk"></span>
			    <span data-translate="gastronomeeApp.restaurant.description">Description</span>
		    </h2>
			{{vm.restaurant.description}}

			<div ng-if="vm.dishes.length>0">
				<br />
				<div ng-repeat="(key,value) in vm.dishes | orderBy: 'priority' | groupBy: '[menu.name]'">
					<h2> 
						<span class="glyphicon glyphicon-th"></span> {{ key }}
					</h2>
					<div class="row">
						<div class="col-md-6" class="categories" ng-repeat="(k,v) in value | orderBy: 'priority' | groupBy: '[category.name]'">
							<h3>
							    {{ k }} 
							</h3>
							<ul class="list-group">
								<li class="list-group-item" ng-repeat="dish in v | orderBy: 'priority'">
									{{ dish.name }}	
									<span ng-repeat="ingredient in dish.ingredients | orderBy: 'name'">
										<span class="label label-default">{{ ingredient.name }}</span> 
									</span> 				        
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
    	<div ng-if="vm.restaurant.location!=null" class="col-md-4">
    		<br />
		    <h2>
			    <span class="glyphicon glyphicon-map-marker"></span>
			    <span data-translate="gastronomeeApp.restaurant.location">Location</span>
		    </h2>
	        <div>
	        	<leaflet lf-center="center" markers="markers"  width="100%" height="280px"></leaflet>
	        </div>
		</div>
   	</div>
   	
	<hr>
	
	<div>
		<h4>
			<span class="glyphicon glyphicon-comment"></span>
			<span>Reviews</span>
		</h4>
		<div class="row">
			<div  class="col-sm-8" ng-repeat="rating in vm.ratings track by rating.id">
				<div class="panel panel-white post panel-shadow">
	                <div class="post-heading">
	                    <div class="pull-left image">
	                        <img alt="user profile image" class="img-circle avatar" src="https://www.iconfinder.com/icons/925901/download/png/64">
	                    </div>
	                    <div class="pull-left meta">
	                        <div class="title h5"><b>{{rating.user.login}}</b></div>
	                        <div uib-rating ng-model="rating.rate" max="vm.max" read-only="true" aria-labelledby="default-rating"></div>
	                        <div class="text-muted time">{{rating.created | date:'medium'}}</div>
	                    </div>
	                </div> 
	                <div class="post-description"> 
	                    <p>{{rating.comment}}</p>
	                </div>
	            </div>
            </div>
		</div>
		
		<hr>
		
		<div class="row">
			<div  class="col-sm-8">
				<div class="panel panel-white post panel-shadow">
	                <div class="post-heading">
						<form name="editForm" role="form" novalidate ng-submit="vm.rate()" show-validation>		
						    <div class="modal-body">
						        <jhi-alert-error></jhi-alert-error>						        
						        <label class="control-label" data-translate="gastronomeeApp.rating.rate" for="field_rate">Rate</label>		                   
						        <span uib-rating ng-model="vm.rating.rate" max="vm.max" read-only="vm.isReadonly" on-hover="vm.hoveringOver(value)" on-leave="vm.overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
						        <span class="label" ng-class="{'label-warning': vm.percent<30, 'label-info': vm.percent>=30 && vm.percent<70, 'label-success': vm.percent>=70}" ng-show="vm.overStar && !vm.isReadonly">{{vm.percent}}%</span>
						        
						        <div class="form-group">
						            <label class="control-label" data-translate="gastronomeeApp.rating.comment" for="field_comment">Comment</label>
						            <textarea rows="2" type="text" class="form-control" name="comment" id="field_comment"
						                    ng-model="vm.rating.comment"
						                    ></textarea>
						        </div>
						        
						    </div>
						    <div class="modal-footer">
						        <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
						            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
						        </button>
						    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
    
</div>
