<div ng-cloak>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-md-8" has-any-authority="ROLE_USER">
			<h2>USER</h2>
		</div>
		<div class="col-md-8" has-any-authority="ROLE_MANAGER, ROLE_ADMIN">
			<h2 data-translate="gastronomeeApp.restaurant.home.title">Restaurants</h2>
			<div class="container-fluid">
		        <div class="row">
		            <div class="col-xs-4 no-padding-left">
		                <button class="btn btn-primary" ui-sref="dashboard.restaurant.new" >
		                    <span class="glyphicon glyphicon-plus"></span>
		                    <span class="hidden-xs-down"  data-translate="gastronomeeApp.restaurant.home.createLabel">
		                        Create new Restaurant
		                    </span>
		                </button>
		            </div>
		        </div>
		    </div>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th><span data-translate="gastronomeeApp.restaurant.name">Name</span></th>
							<th><span data-translate="gastronomeeApp.restaurant.open">Open</span></th>
							<th><span data-translate="gastronomeeApp.restaurant.close">Close</span></th>
							<th><span data-translate="gastronomeeApp.restaurant.tables">Tables</span></th>
							<th><span data-translate="gastronomeeApp.restaurant.chairs">Chairs</span></th>
							<th><span data-translate="gastronomeeApp.restaurant.dayOfWeekClosed">Day Of Week Closed</span></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="restaurant in vm.restaurants track by restaurant.id">
							<td><a ui-sref="restaurant-app-detail({id:restaurant.id})">{{restaurant.name}}</a></td>
							<td>{{restaurant.open}}</td>
							<td>{{restaurant.close}}</td>
							<td>{{restaurant.tables}}</td>
							<td>{{restaurant.chairs}}</td>
							<td>{{restaurant.dayOfWeekClosed}}</td>
							<td class="text-right">
								<div class="btn-group flex-btn-group-container">
									<button type="submit"
											ui-sref="dashboard.restaurant.edit({id:restaurant.id})"
											class="btn btn-primary btn-sm">
										<span class="glyphicon glyphicon-pencil"></span> <span
												class="hidden-sm-down" data-translate="entity.action.edit"></span>
									</button>
									<button type="submit"
											ui-sref="dashboard.restaurant.delete({id:restaurant.id})"
											class="btn btn-danger btn-sm">
										<span class="glyphicon glyphicon-remove-circle"></span> <span
												class="hidden-sm-down" data-translate="entity.action.delete"></span>
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="7" data-translate="gastronomeeApp.restaurant.noRestaurantFound" ng-if="vm.restaurants.length==0">No restaurant found!</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<h2 data-translate="gastronomeeApp.menu.home.title">Menus</h2>
			<div class="container-fluid">
		        <div class="row">
		            <div class="col-xs-4 no-padding-left">
		                <button class="btn btn-primary" ui-sref="dashboard.menu.new" >
		                    <span class="glyphicon glyphicon-plus"></span>
		                    <span class="hidden-xs-down"  data-translate="gastronomeeApp.menu.home.createLabel">
		                        Create new Menu
		                    </span>
		                </button>
		            </div>
		        </div>
		    </div>
			<div class="table-responsive">
				<table class="jh-table table table-striped">
					<thead>
						<tr>
							<th><span data-translate="gastronomeeApp.menu.name">Name</span></th>
							<th><span data-translate="gastronomeeApp.menu.restaurant">Restaurant</span></th>
							<th><span data-translate="gastronomeeApp.menu.priority">Priority</span></th>
							<th><span data-translate="gastronomeeApp.menu.active">Active</span></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="menu in vm.menus track by menu.id">
							<td><a ui-sref="dashboard.menu-detail({id:menu.id})">{{menu.name}}</a></td>
							<td>{{menu.restaurant.name}}</td>
							<td>{{menu.priority}}</td>
							<td><span ng-if="menu.active==true"
									class="label label-success">{{menu.active}}</span> <span
									ng-if="menu.active==false" class="label label-danger">{{menu.active}}</span>
							</td>
							<td class="text-right">
								<div class="btn-group flex-btn-group-container">
									<button type="submit" ui-sref="dashboard.menu.edit({id:menu.id})"
											class="btn btn-primary btn-sm">
										<span class="glyphicon glyphicon-pencil"></span> <span
												class="hidden-sm-down" data-translate="entity.action.edit"></span>
									</button>
									<button type="submit" ui-sref="dashboard.menu.delete({id:menu.id})"
											class="btn btn-danger btn-sm">
										<span class="glyphicon glyphicon-remove-circle"></span> <span
												class="hidden-sm-down" data-translate="entity.action.delete"></span>
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="5" data-translate="gastronomeeApp.menu.noMenuFound" ng-if="vm.menus.length==0">No menu found!</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<h2 data-translate="gastronomeeApp.dish.home.title">Dishes</h2>
			<div class="container-fluid">
		        <div class="row">
		            <div class="col-xs-4 no-padding-left">
		                <button class="btn btn-primary" ui-sref="dashboard.dish.new" >
		                    <span class="glyphicon glyphicon-plus"></span>
		                    <span class="hidden-xs-down"  data-translate="gastronomeeApp.dish.home.createLabel">
		                        Create new Dish
		                    </span>
		                </button>
		            </div>
		        </div>
		    </div>
			<div class="table-responsive">
				<table class="jh-table table table-striped">
					<thead>
						<tr>						
							<th><span data-translate="gastronomeeApp.dish.name">Name</span></th>
							<th><span data-translate="gastronomeeApp.dish.recipe">Recipe</span></th>
							<th><span data-translate="gastronomeeApp.dish.menu">Menu</span></th>
							<th><span data-translate="gastronomeeApp.dish.category">Category</span></th>
							<th><span data-translate="gastronomeeApp.dish.priority">Priority</span></th>
							<th><span data-translate="gastronomeeApp.dish.active">Active</span></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="dish in vm.dishes track by dish.id">
							<td><a ui-sref="dashboard.dish-detail({id:dish.id})">{{dish.name}}</a></td>
							<td>{{dish.recipe}}</td>
							<td><a ui-sref="dashboard.menu-detail({id:dish.menu.id})">{{dish.menu.name}}</a></td>
							<td><a ui-sref="dashboard.dish-category-detail({id:dish.category.id})">{{dish.category.name}}</a></td>
							<td>{{dish.priority}}</td>
							<td><span ng-if="dish.active==true" class="label label-success">{{dish.active}}</span> <span
										ng-if="dish.active==false || dish.active==''" class="label label-danger">{{dish.active}}</span></td>
							<td class="text-right">
								<div class="btn-group flex-btn-group-container">
									<button ng-if="vm.account.login==dish.user.login" type="submit" ui-sref="dashboard.dish.edit({id:dish.id})"
												class="btn btn-primary btn-sm">
										<span class="glyphicon glyphicon-pencil"></span> <span
													class="hidden-sm-down" data-translate="entity.action.edit"></span>
									</button>
									<button ng-if="vm.account.login==dish.user.login" type="submit" ui-sref="dashboard.dish.delete({id:dish.id})"
												class="btn btn-danger btn-sm">
										<span class="glyphicon glyphicon-remove-circle"></span> <span
													class="hidden-sm-down" data-translate="entity.action.delete"></span>
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="7" data-translate="gastronomeeApp.dish.noDishFound" ng-if="vm.dishes.length==0">No dish found!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-md-4">
			<h2 data-translate="gastronomeeApp.rating.home.title">Ratings</h2>
			<div class="table-responsive">
				<table class="jh-table table table-striped">
					<thead>
						<tr>
							<th><span data-translate="gastronomeeApp.rating.rate">Rate</span></th>
							<th><span data-translate="gastronomeeApp.rating.restaurant">Restaurant</span></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="rating in vm.ratings track by rating.id">
							<td>{{rating.rate}}</td>
							<td><a ui-sref="restaurant-app-detail({id:rating.restaurant.id})">{{rating.restaurant.name}}</a>
							</td>
							<td class="text-right">
								<div class="btn-group flex-btn-group-container">
									<button type="submit" ui-sref="dashboard.rating.edit({id:rating.id})"
										class="btn btn-primary btn-sm">
										<span class="glyphicon glyphicon-pencil"></span> <span
											class="hidden-sm-down" data-translate="entity.action.edit"></span>
									</button>
									<button type="submit" ui-sref="dashboard.rating.delete({id:rating.id})"
										class="btn btn-danger btn-sm">
										<span class="glyphicon glyphicon-remove-circle"></span> <span
											class="hidden-sm-down" data-translate="entity.action.delete"></span>
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="3" data-translate="gastronomeeApp.rating.noRatingFound" ng-if="vm.ratings.length==0">No rating found!</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div has-any-authority="ROLE_MANAGER, ROLE_ADMIN">
				<h2 data-translate="gastronomeeApp.dishCategory.home.title">Dish Categories</h2>
				<button class="btn btn-primary" ui-sref="dashboard.dish-category.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="gastronomeeApp.dishCategory.home.createLabel">
                        Create new Dish Category
                    </span>
                </button>
				<div class="table-responsive">
					<table class="jh-table table table-striped">
						<thead>
							<tr>							
								<th><span data-translate="gastronomeeApp.dishCategory.name">Name</span></th>
								<th><span data-translate="gastronomeeApp.dishCategory.active">Active</span></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="dishCategory in vm.dishCategories track by dishCategory.id">
								<td><a ui-sref="dashboard.dish-category-detail({id:dishCategory.id})">{{dishCategory.name}}</a></td>
								<td><span ng-if="dishCategory.active==true"
									class="label label-success">{{dishCategory.active}}</span> <span
									ng-if="dishCategory.active==false" class="label label-danger">{{dishCategory.active}}</span>
								</td>
								<td class="text-right">
									<div class="btn-group flex-btn-group-container">
										<button ng-if="vm.account.login==dishCategory.user.login"
											type="submit"
											ui-sref="dashboard.dish-category.edit({id:dishCategory.id})"
											class="btn btn-primary btn-sm">
											<span class="glyphicon glyphicon-pencil"></span> <span
												class="hidden-sm-down" data-translate="entity.action.edit"></span>
										</button>
										<button ng-if="vm.account.login==dishCategory.user.login"
											type="submit"
											ui-sref="dashboard.dish-category.delete({id:dishCategory.id})"
											class="btn btn-danger btn-sm">
											<span class="glyphicon glyphicon-remove-circle"></span> <span
												class="hidden-sm-down" data-translate="entity.action.delete"></span>
										</button>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2" data-translate="gastronomeeApp.dishCategory.noDishCategoryFound" ng-if="vm.dishCategories.length==0">No dish category found!</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div has-any-authority="ROLE_MANAGER, ROLE_ADMIN">
				<h2 data-translate="gastronomeeApp.ingredient.home.title">Ingredients</h2>
				<button class="btn btn-primary" ui-sref="dashboard.ingredient.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="gastronomeeApp.ingredient.home.createLabel">
                        Create new Ingredient
                    </span>
                </button>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><span data-translate="gastronomeeApp.ingredient.name">Name</span></th>
								<th><span data-translate="gastronomeeApp.ingredient.active">Active</span></th>							
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="ingredient in vm.ingredients track by ingredient.id">
								<td><a ui-sref="dashboard.ingredient-detail({id:ingredient.id})">{{ingredient.name}}</a></td>
								<td><span ng-if="ingredient.active==true"
									class="label label-success">{{ingredient.active}}</span> <span
									ng-if="ingredient.active==false" class="label label-danger">{{ingredient.active}}</span>
								</td>
								<td class="text-right">
									<div class="btn-group flex-btn-group-container">
										<button ng-if="vm.account.login==ingredient.user.login"
											type="submit" ui-sref="dashboard.ingredient.edit({id:ingredient.id})"
											class="btn btn-primary btn-sm">
											<span class="glyphicon glyphicon-pencil"></span> <span
												class="hidden-sm-down" data-translate="entity.action.edit"></span>
										</button>
										<button ng-if="vm.account.login==ingredient.user.login"
											type="submit" ui-sref="dashboard.ingredient.delete({id:ingredient.id})"
											class="btn btn-danger btn-sm">
											<span class="glyphicon glyphicon-remove-circle"></span> <span
												class="hidden-sm-down" data-translate="entity.action.delete"></span>
										</button>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2" data-translate="gastronomeeApp.ingredient.noIngredientFound" ng-if="vm.ingredients.length==0">No ingredient found!</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
