
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDishLabel" data-translate="gastronomeeApp.dish.home.createOrEditLabel">Create or edit a Dish</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dish.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dish.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gastronomeeApp.dish.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.dish.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gastronomeeApp.dish.recipe" for="field_recipe">Recipe</label>
            <textarea rows="3" type="text" class="form-control" name="recipe" id="field_recipe"
                    ng-model="vm.dish.recipe"
                    ng-maxlength="2500"></textarea>
            <div ng-show="editForm.recipe.$invalid">
                <p class="help-block"
                    ng-show="editForm.recipe.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="2500">
                    This field cannot be longer than 2500 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="gastronomeeApp.dish.menu" for="field_menu">Menu</label>
            <select required class="form-control" id="field_menu" name="menu" ng-model="vm.dish.menu" ng-options="menu as menu.name for menu in vm.menus track by menu.id">
                <option value=""></option>
            </select>
            <div ng-show="editForm.menu.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label data-translate="gastronomeeApp.dish.ingredient" for="field_ingredient">Ingredient</label>
            <select class="form-control" id="field_ingredient" multiple name="ingredient" ng-model="vm.dish.ingredients" ng-options="ingredient as ingredient.name for ingredient in vm.ingredients track by ingredient.id"></select>
        </div>
        
        <div class="form-group">
            <label data-translate="gastronomeeApp.dish.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.dish.category" ng-options="dishCategory as dishCategory.name for dishCategory in vm.dishcategories track by dishCategory.id">
                <option value=""></option>
            </select>
        </div>
        
        <div class="form-group">
            <label class="control-label" data-translate="gastronomeeApp.dish.priority" for="field_priority">Priority</label>
            <input type="number" class="form-control" name="priority" id="field_priority"
                    ng-model="vm.dish.priority"
                    />
        </div>
        
        <div class="form-group">
            <label class="control-label" data-translate="gastronomeeApp.dish.active" for="field_active">Active</label>
                <input type="checkbox" name="active" id="field_active"
                          ng-model="vm.dish.active"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
