<div>
    <h2 data-translate="gastronomeeApp.dish.home.title">Dishes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dish.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="gastronomeeApp.dish.home.createLabel">
                        Create new Dish
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gastronomeeApp.dish.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="gastronomeeApp.dish.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="recipe"><span data-translate="gastronomeeApp.dish.recipe">Recipe</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="menu.name"><span data-translate="gastronomeeApp.dish.menu">Menu</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category.name"><span data-translate="gastronomeeApp.dish.category">Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="priority"><span data-translate="gastronomeeApp.dish.priority">Priority</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="active"><span data-translate="gastronomeeApp.dish.active">Active</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dish in vm.dishes track by dish.id">
                    <td><a ui-sref="dish-detail({id:dish.id})">{{dish.id}}</a></td>
                    <td>{{dish.name}}</td>
                    <td>{{dish.recipe}}</td>             
                    <td>
                        <a ui-sref="menu-detail({id:dish.menu.id})">{{dish.menu.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="dish-category-detail({id:dish.category.id})">{{dish.category.name}}</a>
                    </td>
                    <td>{{dish.priority}}</td>
                    <td>		     
			            <span ng-if="dish.active==true" class="label label-success">{{dish.active}}</span>
						<span ng-if="dish.active==false" class="label label-danger">{{dish.active}}</span>
			        </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="dish-detail({id:dish.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dish.edit({id:dish.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dish.delete({id:dish.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
