
<div>
    
    <jhi-alert-error></jhi-alert-error>

    <h2>{{vm.restaurant.name}} <sup>
    	<span ng-if="vm.restaurant.opened==true" class="label label-success">OPENED</span>
    	<span ng-if="vm.restaurant.opened==false" class="label label-danger">CLOSED</span>
    </sup></h2>
	
	   
    
    <div class="info">
    	<label data-translate="gastronomeeApp.restaurant.open">Open</label>: <span class="label label-success">{{vm.restaurant.open}}</span> - <label data-translate="gastronomeeApp.restaurant.close">Close</label>: <span class="label label-danger">{{vm.restaurant.close}}</span>  
    	<label data-translate="gastronomeeApp.restaurant.manager">Manager</label>: <span class="label label-default">{{vm.restaurant.manager.login}}</span>  
    	<label data-translate="gastronomeeApp.restaurant.dayOfWeekClosed">Day Of Week Closed</label>: <span class="label label-danger" data-translate="{{'gastronomeeApp.DayOfWeek.' + vm.restaurant.dayOfWeekClosed}}">{{vm.restaurant.dayOfWeekClosed}}</span>  
    	<label data-translate="gastronomeeApp.restaurant.tables">Tables</label>: <span class="label label-info">{{vm.restaurant.tables}}</span>  <label data-translate="gastronomeeApp.restaurant.chairs">Chairs</label>: <span class="label label-info">{{vm.restaurant.chairs}}</span>
    </div>
    
    <div class="row">
	    <div class="col-md-8">
	        <h3 data-translate="gastronomeeApp.restaurant.description">Description</h3>
			{{vm.restaurant.description}}
			
			<div ng-if="vm.dishes.length>0">
			
				<h3>
					<span class="glyphicon glyphicon-th"></span> 
					<span data-translate="gastronomeeApp.menu.detail.title">Menu</span>
				</h3>
			
				<div ng-repeat="(key, value) in vm.dishes | groupBy: 'menu.name'">
				    <h4>{{ key }}</h4>
				    <ul class="list-group">
				      <li class="list-group-item" ng-repeat="dish in value">
				        {{ dish.name }}
				      </li>
				    </ul>
				</div>
			</div>
		
		</div>
    	<div ng-if="vm.restaurant.location!=null" class="col-md-4">
		    <h3 data-translate="gastronomeeApp.restaurant.location">Location</h3>
		    <div>
	        	<div class="row">
			     	<label class="col-md-6 control-label" data-translate="gastronomeeApp.location.streetAddress">Street Address</label>		      
			        <span class="col-md-6">{{vm.restaurant.location.streetAddress}}</span>
				</div>
				<div class="row">
		        	<label class="col-md-6 control-label" data-translate="gastronomeeApp.location.postalCode">Postal code</label>		      		        	
			        <span class="col-md-6">{{vm.restaurant.location.postalCode}}</span>
		        </div>

		        <div class="row">
		            <label class="col-md-6 control-label" data-translate="gastronomeeApp.location.city">City</label>
			        <span class="col-md-6">{{vm.restaurant.location.city}}</span>
			    </div>
			    <div class="row">
			        <label class="col-md-6 control-label" data-translate="gastronomeeApp.location.stateProvince">State province</label>
			    	<span class="col-md-6">{{vm.restaurant.location.stateProvince}}</span>
	        	</div>
				<div class="row">
				   <label class="col-md-6 control-label" data-translate="gastronomeeApp.location.country">Country</label>
					<span class="col-md-6">{{vm.restaurant.location.country.name}}</span>
	        	</div>
	        </div>
		</div>
   	</div>
   	
	<hr>
	
    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="restaurant-detail.edit({id:vm.restaurant.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
