
<div>
    <h2><span data-translate="gastronomeeApp.ingredient.detail.title">Ingredient</span> {{vm.ingredient.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
       
        <dt><span data-translate="gastronomeeApp.ingredient.name">Name</span></dt>
        <dd>
            <span>{{vm.ingredient.name}}</span>
        </dd>
       
        <dt><span data-translate="gastronomeeApp.ingredient.description">Description</span></dt>
        <dd>
            <span>{{vm.ingredient.description}}</span>
        </dd>

        <dt><span data-translate="gastronomeeApp.ingredient.priority">Priority</span></dt>
        <dd>
            <span>{{vm.ingredient.priority}}</span>
        </dd>
        
        <dt><span data-translate="gastronomeeApp.ingredient.active">Active</span></dt>
        <dd ng-if="vm.ingredient.active==true">
            <span class="label label-success">{{vm.ingredient.active}}</span>
        </dd>
        <dd ng-if="vm.ingredient.active==false">
            <span class="label label-danger">{{vm.ingredient.active}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="ingredient-detail.edit({id:vm.ingredient.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
