<div ng-cloak>
	<div class="page-header">
		<h1 translate="home.subtitle">gastronomee</h1>
	</div>
	<div class="page-header">
		<div class="form-group">
			<div class="form-inline">
				<form name="searchForm" class="form-inline">
					<input class="form-control input-lg srRestaurant" type="text"
						ng-model="vm.searchQuery" placeholder="Find restaurants">
					<button type="submit" class="btn btn-lg btn-primary"
						ng-click="vm.search(vm.searchQuery)">Find</button>
				</form>
			</div>
			<p>
				<div ng-if="vm.restaurants.length>0">
					<div class="restaurant" ng-repeat="restaurant in vm.restaurants track by restaurant.id">
						<h3><a ui-sref="restaurant-app-detail({id:restaurant.id})">{{restaurant.name}}</a></h3><p>{{restaurant.description}}</p>
					</div>
					<div class="text-center">
				        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
				    </div>
				    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
				</div>
				<div ng-if="vm.restaurants.length==0" translate="home.noRestaurantFound" class="alert alert-warning" role="alert">No restaurant found!</div>
			</p>
		</div>
	</div>
</div>