<div ng-cloak>
	<div class="page-header">
		<h1 class="lead" translate="home.subtitle">Gastronomee</h1>
	</div>
	<div class="page-header">
		<div class="form-group">
			<div class="form-inline">
				<form name="searchForm" class="form-inline">
					<input class="form-control input-lg srRestaurant" type="text"
						ng-model="vm.searchQuery" placeholder="Find restaurants">
					<button type="submit" class="btn btn-lg btn-primary"
						ng-click="vm.search(vm.searchQuery)">Find</button>
				</form>
			</div>
			<hr />
			<div class="restaurant-list" ng-if="vm.restaurants.length>0">
				<div class="restaurant" ng-repeat="restaurant in vm.restaurants track by restaurant.id">
					<h3><a ui-sref="restaurant-detail({id:restaurant.id})">{{restaurant.name}}</a></h3><h4>{{restaurant.description}}</h4>
				</div>
			</div>
		</div>
	</div>
</div>